In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dfs= pd.read_csv('load_data.csv', chunksize = 10**6)
df_raw = pd.concat(dfs)

In [3]:
df_raw.head(-5)

,CUSTOMER_ID,READING_DATETIME,CALENDAR_KEY,EVENT_KEY,GENERAL_SUPPLY_KWH,CONTROLLED_LOAD_KWH,GROSS_GENERATION_KWH,NET_GENERATION_KWH,OTHER_KWH
0,10006414,2012-02-10 08:00:00,233632,0,0.141,0.0,0.0,0.0,0
1,10006414,2012-02-10 08:30:00,233635,0,0.088,0.0,0.0,0.0,0
2,10006414,2012-02-10 09:00:00,233638,0,0.078,0.0,0.0,0.0,0
3,10006414,2012-02-10 09:30:00,233641,0,0.151,0.0,0.0,0.0,0
4,10006414,2012-02-10 10:00:00,233644,0,0.146,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
344518781,9997848,2014-03-03 03:30:00,332659,0,0.117,0.0,0.0,0.0,0
344518782,9997848,2014-03-03 04:00:00,332662,0,0.103,0.0,0.0,0.0,0
344518783,9997848,2014-03-03 04:30:00,332665,0,0.073,0.0,0.0,0.0,0
344518784,9997848,2014-03-03 05:00:00,332668,0,0.145,0.0,0.0,0.0,0
344518785,9997848,2014-03-03 05:30:00,332671,0,0.076,0.0,0.0,0.0,0

In [4]:
df_raw.drop(columns = [' CALENDAR_KEY', ' EVENT_KEY',' CONTROLLED_LOAD_KWH', ' GROSS_GENERATION_KWH',
                    ' NET_GENERATION_KWH', ' OTHER_KWH'], inplace=True)
df_raw = df_raw.rename(columns={'CUSTOMER_ID':'customer','READING_DATETIME':'time',' GENERAL_SUPPLY_KWH':'load'})
df_raw['time'] = pd.to_datetime(df_raw['time'])

In [ ]:
df_raw['year']= df_raw['time'].dt.year
df_raw_2013 = df_raw[df_raw['year'] == 2013]
df_raw = df_raw.drop(columns = 'year')
df_raw_2013  = df_raw_2013.drop(columns = 'year')

In [10]:
df_raw_2013 = df_raw_2013.drop_duplicates(subset=['time', 'customer'])
df_2013_pivot = df_raw_2013.pivot(index = 'time', columns = 'customer', values = 'load')

In [8]:
duplicates = df_raw_2013[df_raw_2013.duplicated(subset=['time', 'customer'], keep=False)]

In [7]:
customer_dict = {}
for id in df['CUSTOMER_ID'].unique():
    customer_dict[id] = df.loc[df['CUSTOMER_ID'] == id , ' GENERAL_SUPPLY_KWH']

In [8]:
import pickle
with open ("customer_dict.pkl", "wb") as f:
    pickle.dump(customer_dict, f)

In [14]:
len(customer_dict.keys())

13735